# Security related
/config/credentials.env
/config/dockercfg
/codeship.aes

# Mac files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Django stuff:
*.log
/django/staticfiles
/django/wot_ui/static/ui/semantic/components
.idea/markdown-navigator*
/.idea/markdown-exported-files.xml
