ipython


celery
honcho

raven

requests

psycopg2-binary
pgcli

django
django-extensions
django-debug-toolbar
django-celery-beat
django-environ
django-redis

redis
hiredis

uwsgi
brotlipy
whitenoise

funcy

