{% extends "base.html" %}

{% load wot_api %}

{% block content %}
  {{ object }} {{ object.account_id }}

  <table class="ui table">
    <tr>
      <th>Created</th>
      <th>Updated</th>
      <th>First Of Day</th>
      <th></th>
      <th>Last Battle</th>
    </tr>
    {% for user_info in user_info_list %}
      <tr>
        <td>{{ user_info.created|date:'d.m.Y H:i' }}</td>
        <td>{{ user_info.updated|date:'Y-m-d H:i' }}</td>
        <td>{{ user_info.first_of_day }}</td>
        <td><a href="{% url "wot_index:userinfo" pk=user_info.pk %}">{{ user_info.pk }}</a></td>
        <td>{{ user_info.data.last_battle_time|tsdate|date:'Y-m-d H:i' }}</td>

      </tr>
    {% endfor %}
  </table>


{% endblock %}
