{% extends "base.html" %}

{% block content %}
  <h2>{{ object }}
    <small>{{ wn8.wn8|floatformat:0 }}</small>
  </h2>
  <hr>
  {{ created }}
  <hr>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>Tank</th>
        <th>Battles</th>
        <th>Winrate (expected)</th>
        <th>Damage (expected)</th>
        <th>Frags (expected)</th>
        <th>Spotted (expected)</th>
        <th>Deffed (expected)</th>
      </tr>
    </thead>
    <tbody>
      {% for s,d in wn8.vehicles.items %}
        <tr>
          <td>{{ d.name }}</td>
          <td>{{ d.battles }}</td>
          <td>
            {{ d.winrate|floatformat:0 }}
            ({{ d.expected_winrate|floatformat:0 }})
          </td>
          <td>
            {{ d.average_damage_done|floatformat:0 }}
            ({{ d.expected_damage_done|floatformat:0 }})
          </td>
          <td>
            {{ d.average_fragged|floatformat:2 }}
            ({{ d.expected_fragged|floatformat:2 }})
          </td>
          <td>
            {{ d.average_spotted|floatformat:2 }}
            ({{ d.expected_spotted|floatformat:2 }})
          </td>
          <td>
            {{ d.average_deffed|floatformat:2 }}
            ({{ d.expected_deffed|floatformat:2 }})
          </td>
          <td>{{ d.wn8|floatformat:2 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
