{% extends "base.html" %}

{% load static %}

{% block head %}
    <script type="application/javascript" src="{% static "index/button.js" %}"></script>
{% endblock %}

{% block content %}

    <div data-task-url="{% url "wot_admin_tools:task-url" %}">
        <div class="ui raised segment">
            <button data-task="update_clan" class="ui button">Update Clan</button>
            <button data-task="update_vehicles" class="ui button">Update Vehicles</button>
            <button data-task="update_known_users" class="ui button">Update Known Users</button>
        </div>

        <div class="ui clearing raised segment">
            <button data-task="update_expected_values" class="ui right floated primary button">Update Values</button>
            <p>WN8 Expected Values: {{ wn8_exp_date }}</p>
        </div>


        <div class="ui clearing raised segment">
            <button data-task="test3" class="ui right floated primary button">Loading</button>
            <p>ui clearing segment' only changes the transparency of the segment, it does not make the segment right
                aligned
                as indicated in your original question. But 'ui right floated primary button' works.</p>
        </div>
        <div class="ui clearing raised segment">
            <button data-task="test4" class="ui right floated primary button">Loading</button>
            <p>ui clearing segment' only changes the transparency of the segment, it does not make the segment right
                aligned
                as indicated in your original question. But 'ui right floated primary button' works.</p>
        </div>
        <div class="ui clearing raised segment">
            <button data-task="test5" class="ui right floated primary button">Loading</button>
            <p>ui clearing segment' only changes the transparency of the segment, it does not make the segment right
                aligned
                as indicated in your original question. But 'ui right floated primary button' works.</p>
        </div>
        <div class="ui clearing raised segment">
            <button data-task="test6" class="ui right floated primary button">Loading</button>
            <p>ui clearing segment' only changes the transparency of the segment, it does not make the segment right
                aligned
                as indicated in your original question. But 'ui right floated primary button' works.</p>
        </div>
        <div class="ui clearing raised segment">
            <button data-task="test7" class="ui right floated primary button">Loading</button>
            <p>ui clearing segment' only changes the transparency of the segment, it does not make the segment right
                aligned
                as indicated in your original question. But 'ui right floated primary button' works.</p>
        </div>
        <div class="ui clearing raised segment">
            <button data-task="test8" class="ui right floated primary button">Loading</button>
            <p>ui clearing segment' only changes the transparency of the segment, it does not make the segment right
                aligned
                as indicated in your original question. But 'ui right floated primary button' works.</p>
        </div>
        <div class="ui clearing raised segment">
            <button data-task="test9" class="ui right floated primary button">Loading</button>
            <p>ui clearing segment' only changes the transparency of the segment, it does not make the segment right
                aligned
                as indicated in your original question. But 'ui right floated primary button' works.</p>
        </div>
        <div class="ui clearing raised segment">
            <button data-task="test10" class="ui right floated primary button">Loading</button>
            <p>ui clearing segment' only changes the transparency of the segment, it does not make the segment right
                aligned
                as indicated in your original question. But 'ui right floated primary button' works.</p>
        </div>
    </div>
{% endblock %}